<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPowerManageWCFService" />
                <binding name="WSHttpBinding_IProductWCFService" />
                <binding name="WSHttpBinding_IFactoryLayoutWCFService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:8089/MyWCF.Server/IPowerManageWCFService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPowerManageWCFService"
                contract="SR_PowerManager.IPowerManageWCFService" name="WSHttpBinding_IPowerManageWCFService">
                <identity>
                    <userPrincipalName value="PV-X00197937\Administrator" />
                </identity>
            </endpoint>
            <endpoint address="http://127.0.0.1:8089/MyWCF.Server/IProductWCFService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductWCFService"
                contract="SR_Product.IProductWCFService" name="WSHttpBinding_IProductWCFService">
                <identity>
                    <userPrincipalName value="PV-X00197937\Administrator" />
                </identity>
            </endpoint>
            <endpoint address="http://127.0.0.1:8089/MyWCF.Server/IFactoryLayoutWCFService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFactoryLayoutWCFService"
                contract="SR_FactoryLayout.IFactoryLayoutWCFService" name="WSHttpBinding_IFactoryLayoutWCFService">
                <identity>
                    <userPrincipalName value="PV-X00197937\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>